asgiref==3.8.1
Django==4.2.10
django-crispy-forms==2.4
djangorestframework>=3.15,<3.16
sqlparse==0.5.3
tzdata==2025.2
gunicorn==20.2.0
mysqlclient==2.2.0
python-dotenv==1.0.0
Pillow==10.5.0
cryptography==39.0.1
