<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Rental</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body style="background-color: rgb(244, 238, 238);"> 
    <section id="featured-cars" class="featured-cars">
        <div class="container">
            <div class="section-header">
                <!-- <h2 style="text-align: center;color: rgba(9, 8, 8, 0.944);font-style: italic;font-size:xx-large;"></h2> -->
            </div>
            <div class="row">
                {% for car in cars %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-3">
                        <img src="{{ car.image.url }}" class="card-img-top" alt="Car Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ car.model }}</h5>
                            <p class="card-text">Year: {{ car.year }}</p>
                            <p class="card-text">Status: {{ car.status }}</p>
                            <p class="card-text">Color: {{ car.color }}</p>
                            <p class="card-text">Rate per day: {{ car.Rent_per_day }}</p>
                            <a href="{% url 'booking'  %}" class="btn btn-primary">Book Now</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section> 
    <!-- Bootstrap JS (Optional)  -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.4.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


