{% load static %}
{% block brandcontent %}
<section id="brand"  class="brand">
    <div class="container">
        <div class="brand-area">
            <div class="owl-carousel owl-theme brand-item">
                <div class="item">
                    <a href="#">
                        <img src="{% static 'assets/images/brand/audi.webp' %}" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a href="#">
                        <img src="{% static 'assets/images/brand/bmw.webp' %}" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a href="#">
                        <img src="{% static 'assets/images/brand/jaguar.webp' %}" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a href="#">
                        <img src="{% static 'assets/images/brand/jeep.webp' %}" alt="brand-image" />
                    </a>
                </div><!--/.item-->

                <div class="item">
                    <a href="#">
                        <img src="{% static 'assets/images/brand/mercedes.jpg' %}" alt="brand-image" />
                    </a>
                </div><!--/.item-->

                <div class="item">
                    <a href="#">
                        <img src="{% static 'assets/images/brand/Rolls-Royce.webp' %}" alt="brand-image" />
                    </a>
                </div><!--/.item-->
            </div><!--/.owl-carousel-->
        </div><!--/.clients-area-->

    </div><!--/.container-->

</section>
{% endblock brandcontent %}