{% load static %}
{% block clcontent%}


<section id="clients-say"  class="clients-say">
    <div class="container">
        <div class="section-header">
            <h2 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">what our clients say</h2>
        </div><!--/.section-header-->
        <div class="row">
            <div class="owl-carousel testimonial-carousel">
                <div class="col-sm-3 col-xs-12">
                    <div class="single-testimonial-box">
                        <div class="testimonial-description">
                            <div class="testimonial-info">
                                <div class="testimonial-img">
                                    <img src="{% static 'assets/images/clients/c1.png' %}" alt="image of clients person" />
                                </div><!--/.testimonial-img-->
                            </div><!--/.testimonial-info-->
                            <div class="testimonial-comment">
                                <p style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                                    Wonderful and professional personnel that truly represent their brand. 
                                </p>
                            </div><!--/.testimonial-comment-->
                            <div class="testimonial-person">
                                <h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Thomas Lilli</h2>
                                <h4>USA</h4>
                            </div><!--/.testimonial-person-->
                        </div><!--/.testimonial-description-->
                    </div><!--/.single-testimonial-box-->
                </div><!--/.col-->
                <div class="col-sm-3 col-xs-12">
                    <div class="single-testimonial-box">
                        <div class="testimonial-description">
                            <div class="testimonial-info">
                                <div class="testimonial-img">
                                    <img src="{% static 'assets/images/clients/img1.avif' %}" alt="image of clients person" />
                                </div><!--/.testimonial-img-->
                            </div><!--/.testimonial-info-->
                            <div class="testimonial-comment">
                                <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" >
                                    Great place they gave me a better car then expected !!!!!!! Every one should go!!!!!
                                </p>
                            </div><!--/.testimonial-comment-->
                            <div class="testimonial-person">
                                <h2 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Alen</h2>
                                <h4 style="font-family: Arial, Helvetica, sans-serif;">kerala</h4>
                            </div><!--/.testimonial-person-->
                        </div><!--/.testimonial-description-->
                    </div><!--/.single-testimonial-box-->
                </div><!--/.col-->
                <div class="col-sm-3 col-xs-12">
                    <div class="single-testimonial-box">
                        <div class="testimonial-description">
                            <div class="testimonial-info">
                                <div class="testimonial-img">
                                    <img src="{% static 'assets/images/clients/c3.png' %}" alt="image of clients person" />
                                </div><!--/.testimonial-img-->
                            </div><!--/.testimonial-info-->
                            <div class="testimonial-comment">
                                <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                                    This was an excellent experience, which I have found not always to be the case at other agencies. The customer service representative was friendly, polite, courteous and professional, making the entire rental administration and checking of the truck easy and informative. The truck was clean and in fine condition, and it drove well without any issues. Having a hand cart available to rent at a reasonable price also assisted in the overall experience. Wheels4U is outstanding!
                                </p>
                            </div><!--/.testimonial-comment-->
                            <div class="testimonial-person">
                                <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Abhiram</h2>
                                <h4 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">kerala</h4>
                            </div><!--/.testimonial-person-->
                        </div><!--/.testimonial-description-->
                    </div><!--/.single-testimonial-box-->
                </div><!--/.col-->
            </div><!--/.testimonial-carousel-->
        </div><!--/.row-->
    </div><!--/.container-->
</section>
{% endblock clcontent %}