{% load static %}
{% block sercontent %}


<section id="service" class="service">
    <div class="container">
        <div class="service-content">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-service-item">
                        <div class="single-service-icon">
                            <i class="flaticon-car"></i>
                        </div>
                        <h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">largest dealers<span> of </span>Car Rental</h2>
                        <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                           We are the largest dealers in rental cars and we have highest car colloctions  
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-service-item">
                        <div class="single-service-icon">
                            <i class="flaticon-car-repair"></i>
                        </div>
                        <h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Free mechanical support</h2>
                        <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                            we provides you mechanical helps. we bother about your security
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-service-item">
                        <div class="single-service-icon">
                            <i class="flaticon-car-1"></i>
                        </div>
                        <h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">24*7 Assistance</h2>
                        <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                           we allways happy to assist you at any time.Have a  great ride with us
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.container-->

</section><!--/.service-->
{% endblock sercontent %}