{% load static %}
{% block topcontent%}


<div class="container">
    <div class="welcome-hero-txt">
        <h2 style="color: rgb(247, 225, 225);font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Indulge in Luxury – Rent With Us!</h2>
        <p style="color: rgb(203, 231, 167);font-style: italic;">
            When ordinary isn't enough, go for luxury rentals.just rent a car of your wish from our vast collection
        </p>
           </div>
</div>
{% endblock topcontent %}